html,body { 
	margin: 0; 
	padding: 0; 
	height: 100%; 
	width: 100%;
}

body {
	position: fixed;
	overflow: auto;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.letter {
	display: none;
}

#play {
	position: fixed;
	width: 25vw;
}

::-webkit-scrollbar {
  display: none;
}
